<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Editor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1;">
            <div class="loginbackground box-background--white padding-top--64">
                <div class="loginbackground-gridContainer">
                    <!-- Background and other styling elements -->
                </div>
            </div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                    <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Image Editor</a></h1>
                </div>
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">Edit color for your image!</span>
                            <form action="/" method="post" enctype="multipart/form-data" target="_blank">
                                <div class="field padding-bottom--24">
                                    <input type="file" name="file" accept="image/*" required>
                                </div>
                                <div class="field padding-bottom--24">
                                    <label for="type">Select transformation:</label>
                                    <select name="type" id="type">
                                        <option value="gray">Grayscale</option>
                                        <option value="saturation">Saturation Increase</option>
                                        <option value="comsoon" disabled>Coming Soon</option>
                                    </select>
                                </div>
                                <div class="field padding-bottom--24">
                                    <input type="submit" name="submit" value="Continue">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
