<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Editor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Image Editor</h1>
    </header>

    <div class="container">
        <div class="title">Change Image Color Easily</div>
        <div class="description">Make It Easier</div>

        <div class="images">
            <img src="{{ url_for('static', filename='images/image.jpeg') }}" alt="Rotated Image" class="img-1">
            <img src="{{ url_for('static', filename='images/991.jpeg') }}" alt="Rotated Image" class="img-2">
        </div>

        <a href="#frm"><button class="upload-button">Upload</button></a>

        <div id="upload"></div>

        <div class="steps">
            <div class="step">
                <h2>1. Upload</h2>
                <p>Upload your photo to change its colors. (PNG, JPEG, JPG)</p>
            </div>
            <div class="step">
                <h2>2. Select Colors</h2>
                <p>Select the source & target transform in your image.</p>
            </div>
            <div class="step">
                <h2>3. Download</h2>
                <p>Instantly download your transformed image.</p>
            </div>
        </div>
    </div>

    <div class="form-container">
        <div id="frm"></div>
        <span>Transform your image!</span>
        <form action="/" method="post" enctype="multipart/form-data" target="_blank">
            <input type="file" name="file" accept="image/*" required>
            <label for="type">Select transformation:</label>
            <select name="type" id="type">
                <option value="gray">Grayscale</option>
                <option value="saturation">Saturation Increase</option>
                <option value="hue" >HUE Increase</option>
            </select>
            <input type="submit" name="submit" value="Continue">
        </form>
    </div>
</body>
</html>
